.identity{
    background-color: #2574A9;
}
.identity legend{
    background-color: #2574A9;
}

.address{
    background-color: #9A12B3;
}

.address legend{
    background-color: #9A12B3;
}

.payment{
    background-color: #DB0A5B;
}

.payment legend{
    background-color: #DB0A5B;
}