@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Arima Madurai', cursive;
    width: 100%;
    height: 100%;

}
 header, footer{

     background: black;
     background: linear-gradient(90deg, black 0%, #121298 100%);
     height: 15vh;
     text-align: center;
 }

 header h1{
     text-transform: uppercase;
     color: white;
 }


 main{
     background-image: url(../img/wall.jpg);
     background-size: cover;
     height: 70vh;
     padding-top: 10%;
 }
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}


.day, .hours{
    background-color: #d5e2ea;
    color: black;
}

.first, .hour{
    color: black;
    background-color: white;
}
td{
    height: 70px;
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

td{
    width: 120px;
}

.break td{
    height: 35px;
    padding: 0px;
}

.break .stripe{
    background-image: url(../img/stripes.png);
}

.yoga{
    background-color: #009bcc;
}

.biking{
    background-color: #96c21f;
}

.stretching{
    background-color: #11bcaf;
}

.cardio{
    background-color: #7459ad;
}

.self{
    background-color: #e65686;
}

.boxe{
    background-color: #d9006b;
}